.arrow {
    width: 30%;
    position: absolute;
    top: 35%;
    left: 35%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.turn1 {
    width: 30%;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: rotate(-180deg)
}
.turn2 { 
    width: 30%;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: rotate(360deg)
}